<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >


    <test name="FunctionalTests">
        <classes>
            <class name="com.dahu.aodocs.test.TestAODocsSearchAPI"/>
            <class name="com.dahu.aodocs.test.TestAODocsComments"/>
        </classes>
    </test>
</suite>
